.app {
  text-align: center;

  &__pagination {
    width: 100%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    position: fixed;
    bottom: 0;

    &__input {
      position: fixed;
      right: 50px;
    }
  }
}
